.bamboo
  &__plan-results, &__agents
    &__result
      &__state
        font-size 1.6em
        &--success
          color $success-color
        &--unknown
          color $unknown-color
        &--error
          color $failure-color
    a
      color $main-txt-color;

    a > .fa-external-link
      margin-right 1vmin;
